@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  flex-direction: column;
}
#title {
  font-family: "Lobster", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 30px;
  /* margin-right: 600px; */
  margin-top: 20px;
  margin-bottom: 40px;
  /* margin-left: -170px; */
  padding-left: 30px;
  position: absolute;
}
#title:hover {
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}
@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    transform: translateZ(-700px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.container {
  width: 90%;
  margin: 0 auto;
}
.icon {
  display: flex;
  margin-top: 15px;
  margin-bottom: 40px;
  justify-content: space-between;
}
.icon img {
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.icon a {
  text-decoration: none;
  color: black;
  margin-top: 20px;
  margin-bottom: 40px;
}
.menu-navbar {
  padding-left: 570px;
  display: flex;
}
.menu-navbar a {
  margin-right: 25px;
}
.menu-navbar a:hover {
  color: #D6E800;
}
.english-btn {
  margin-top: 18px;
  padding-left: 5px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 30px;
  width: 136px;
  height: 34.318px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #d6e800;
}
.english-btn select {
  background-color: #d6e800;
  border: none;
  width: 52%;
}
.english-btn .eng-btn {
  margin-top: 40px;
  width: 25%;
}
.section-1 {
  margin-bottom: 160px;
  display: flex;
  justify-content: space-between;
}
.col.info {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.col.info h2 {
  margin-bottom: 60px;
  font-size: 3rem;
  font-weight: 600;
}
.col.info p {
  margin-bottom: 60px;
  text-align: left;
  color: #797873;
}
.buttons {
  display: flex;
}
.button {
  width: 130px;
  height: 45px;
  border-radius: 5px;
  font-weight: 600;
  font-size: 15px;
  display: inline-block;
}
.button.discover {
  background: #d6e800;
  border: none;
  margin-right: 25px;
}
.button.read {
  border: 2px solid #000;
  background: #fff;
}
.col.img-wrapper {
  width: 52%;
}
.col.img-wrapper img {
  height: 400px;
  width: 100%;
  margin-left: 30px;
}
.chat-button {
  position: fixed;
  top: 500px;
  right: 40px;
}
.chat-button img {
  width: 100px;
  height: 80px;
  background: #fefdf8;
  border: 3px solid #d6e800;
  border-radius: 5px;
}
.top-books h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 450;
}
.top-books h2:hover {
  cursor: pointer;
  color: #d6e800;
}
.top-books p {
  text-align: center;
  margin-bottom: 30px;
  color: #797873;
}
.book-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px 0;
  margin-bottom: 200px;
}
.book-display .book img:hover {
    animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955)
      both;
  }
@keyframes flip-horizontal-bottom {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
.book {
  width: 33%;
  padding: 20px;
  text-align: left;
}
.book.middle {
  margin: 30px;
}
img {
  width: 100%;
  height: auto;
}
.book-info {
  margin-top: 10px;
}
.title,
.price {
  font-weight: bold;
  font-size: 18px;
}
.author {
  font-size: 14px;
  color: #777;
  margin-bottom: 15px;
}
.sign-in {
  display: flex;
  align-items: center;
  border-radius: 20px;
  background: #1b1c1e;
  height: 500px;
  margin-bottom: 300px;
  padding: 30px;
}
.about-site {
  display: flex;
  flex-direction: column;
  margin-right: 25px;
}
.about-site p {
  color: #d6e800;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
}
.sign-in-img-wrapper img {
  width: 470px;
  height: 350px;
}
.button-wrapper {
  display: flex;
}
.about-site button {
  padding: 20px;
  width: 120px;
  height: 30px;
  border-radius: 20px;
  border: #d6e800;
  border: 1px solid #d6e800;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
#join-us {
  margin-right: 20px;
  background-color: #d6e800;
}
#sign-in {
  background-color: #1b1c1e;
  color: #d6e800;
}
footer {
  background-color: #1b1c1e;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-line {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 50px;
}
.footer-line p {
  color: #fff;
  font-size: 17px;
}
#footer-logo {
  font-size: 40px;
}
.line-1,
.line-2,
.line-3,
.line-4,
.line-5,
.line-6 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location {
  display: flex;
  align-items: baseline;
}
.location img {
  width: 30px;
  height: 30px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
}
.line {
  width: 1350px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 45px;
}
.icons {
  display: flex;
  justify-content: space-between;
  width: 150px;
}
.icons img {
  width: 30px;
  height: 30px;
}
.twitter img,
.facebook img {
  width: 20px;
  height: 20px;
}
.twitter,
.facebook {
  background-color: #fefdf8;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.footer-content p {
  font-size: 14px;
  margin-top: 15px;
  font-weight: 300;
}
@media (max-width: 768px) {
  .menu-navbar {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 393px;
    height: 2054px;
    border-radius: 20px;
    background: #fefdf8;
    margin: 0 auto;
    padding: 16px 28px;
  }
  #title {
    color: #000;
    text-align: center;
    font-size: 17.157px;
    width: 144px;
    font-style: normal;
    font-weight: 500;
    line-height: 17.507px;
  }
  .icon #book-logo {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
  }
  .english-btn {
    background-color: none;
    display: none;
  }
  .section-1 .col.img-wrapper img{
    width: 255px;
    height: 128.933px;
    flex-shrink: 0;
  }
  .section-1 .col.info h2{
    color: #000;
text-align: center;
font-size: 14.431px;
font-style: normal;
font-weight: 600;
line-height: 14.726px; /* 102.041% */
  }
}
